<configuration debug="true">
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/osb.log</file>

        <encoder>
            <pattern>%level [%date] [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>